@import 'fonts.scss';
@import 'inputs.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

#page a {
  transition: all 0.5s ease;
  color: #000000;
  
  &:hover {
    color: #810c0c;
  }
}

.global_title {
  color:#1f1f1f;
  margin: 0;
  padding: 30px 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 25px;
}

.cursor_pointer {
  cursor: pointer;
}

.disabled {
  background-color: #f0f0f0;
  pointer-events: none;
  cursor: default;
}

.pointer_none {
  pointer-events: none;
}

.content_layout {
  max-width: 1400px;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
}

.empty_list {
  font-size: 20px;
  color: #7e7e7e;
  padding: 30px 0;
}


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #b12a2f;
  border-color: #b12a2f transparent #b12a2f transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}